{% extends "structure.html" %}

{% block style %}
    <link rel="stylesheet" href="static/css/task.css">
{% endblock style %}

{% block main %}
<form class="form-task" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">New Task</h1>
    <label for="inputTitle" class="sr-only">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autocomplete="off" value="{{ task.title }}" required autofocus >
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="done" value="on" {% if task.done %} checked {% endif %} > <span>Done</span>
        </label>
      </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
</form>
{% endblock main %}
