html, body{
  background-color:lightblue;
}

h1 {
  color: blueviolet;
}

div.home-content p{
  font-style: italic;
  font-weight: bold;
}

div.about-content{
  display: flex;
}

div.about-content img#avatar{
  display: block;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Lion_waiting_in_Namibia.jpg/220px-Lion_waiting_in_Namibia.jpg) no-repeat;
  width: 220px;
  height: 165px;
}

div.about-content p{
  display: block;
  padding-left: 10px; 
  margin-top: -2px;
}
